<header>
    <div class="header-contenido">
        <h2>La tecnología que cuida de ti y tu bienestar</h2>
        <div class="line"></div>
        <h1>PARA UNA VIDA MAS COMODA Y SEGURA</h1>
        <a class="ctn" routerLink="/SobreNosotros">Aprender mas</a>
    </div>
</header>

<section class="eventos">
    <div class="titulo">
        <h1>Porque elegir Roomio</h1>
        <div class="line"></div>
    </div>
    <div class="row">
        <div class="col">
            <img src="elementos/casabuscar.png" alt="...">
            <h4>Buscas una casa Inteligente</h4>
            <p>Rommio ofrece una plataforma para habitaciones inteligentes para adultos mayores o personas que necesiten cuidados especiales</p>
        </div>
        <div class="col">
            <img src="elementos/salud.png" alt="...">
            <h4>Nos preocupamos por tu salud</h4>
            <p>Gracias a nuestra infraestrucutura podras cuidar de ese ser querido en todo momento</p>
        </div>
    </div>
</section>
<!--SEGUNDA PARTE-->
<section class="eventos">
    <div class="row">
        <div class="col">
            <img src="elementos/graficos.png" alt="...">
            <h4>Información siempre actualizada</h4>
            <p>Ofecemos gráficos en tiempo real con la información más precisa</p>
        </div>
        <div class="col">
            <img src="elementos/seguridad.png" alt="...">
            <h4>Datos seguros</h4>
            <p>Toda la información personal esta respaldada para que sólo tu tengas acceso</p>
        </div>
    </div>
</section>
<!-- TERCERA PARTE-->
    <section class="explorar">
        <div class="explorar-contenido">
            <h1>SOMOS MULTIPLTAFORMA</h1>
            <p>Contamos con página web y una aplicación nátiva para dispositivos móviles.</p>
        </div>
       
    </section>



