<div class="fondo">
  <div class="container reporte-diario">
    <h2 class="titulo">Reporte Diario</h2>
    <div *ngIf="maxValor !== null && minValor !== null && promedio !== null; else noData" class="datos">
      <div class="dato">
        <p><strong>Máximo Valor:</strong></p>
        <p class="valor">{{ maxValor }}</p>
      </div>
      <div class="dato">
        <p><strong>Mínimo Valor:</strong></p>
        <p class="valor">{{ minValor }}</p>
      </div>
      <div class="dato">
        <p><strong>Promedio:</strong></p>
        <p class="valor">{{ promedio }}</p>
      </div>
    </div>
    <ng-template #noData>
      <p class="mensaje-no-datos">No hay datos disponibles para mostrar.</p>
    </ng-template>
</div>