.pie-pagina{
    width: 100%;
    background-color:#3F4A8A;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 35px 0px;
}

.pie-pagina .grupo-1 .box .figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

 img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.pie-pagina .grupo-1 .box h2{
    color: #FFFF;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p{
    color: #FFFF;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #FFFF;
    margin-right: 10px;
    background-color: #089ce2;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover{
    color: #FFFF;
}

.pie-pagina .grupo-2{
    padding: 15px 10px;
    text-align: center;
    color:#FFFF;
    background-color: #3F4A8A;
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
    color: #FFFF;
}

@media screen and (max-width: 800px) {
    .pie-pagina .grupo-1{
        width: 90%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
    .pie-pagina .grupo-1 .box .imagen{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}

