<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a class="imagen" routerLink="/Index">
                    <img src="iconos/Roomio.jpg" >
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>NUESTROS COMPROMISOS</h2>
            <p>Nos comprometemos a proteger la seguridad de sus usuarios</p>
            <p>Además de ofrecer siempre la mayor calidad en nuestro servicio</p>
        </div>
        <div class="box">
            <h2>SIGUENOS</h2>
            <div class="red-social">
                <a href="https://www.facebook.com/"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a>
                <a href="https://www.twitter.com/"><i class="bi bi-twitter"></i></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2025 <b>Roomio</b> - Todos los derechos Reservados.</small>
    </div>
</footer>
