
<div id="carouselExampleDark" class="carousel slide carousel-container carousel-dark" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="8000">
        <img src="imagenes/sensorPeso.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Sensor de Peso</h5>
          <p>Sirve para detectar cuando esta llena.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="imagenes/sensorPulso.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Sensor de Pulso</h5>
          <p>Sirve para monitorear la salud del usuario.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="imagenes/sensorTemperatura.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Sensor de Temperatura/Humedad</h5>
          <p>Sirve mantener un ambiente optimo en la habitacion.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="imagenes/SensorUltrasonico.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>Sensor Ultrasonico</h5>
            <p>Sirve para detectar el movimiento y encender la lampara.</p>
        </div>
    </div>
    <div class="carousel-item">
        <img src="imagenes/SensorVibracion.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>Sensor de Vibracion</h5>
            <p>Sirve para detectar caidas de la cama y activar una alarma.</p>
        </div>
    </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
