<div class="fondo">
    <div class="container text-center mt-5">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <img src="imagenes/not-found.jpg" alt="Página no encontrada" class="img-fluid mb-4" style="max-width: 300px;">        <h1 class="display-4 text-danger">404</h1>
          <h2 class="mb-4">Acceso no autorizado</h2>
          <p class="lead">Lo sentimos, no tienes permiso para acceder a esta página.</p>
       
        </div>
      </div>
    </div>
  </div>
  