

.btn {
    background-color: #3F51B5;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btnhamburgesa{
    background-color: #222532;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

 .btn:hover {
    background-color: #283593;
}


.card {
    width: 300px;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: #f9f9f9;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.card i {
    color: #3F51B5;
}

.card-icon {
    font-size: 4rem;
    color: #3F51B5;
    margin-top: 20px;
}

.card-body {
    padding: 20px;
    text-align: center;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.dropdown {
    position: absolute;
    top: 10px;
    right: 10px;
}

.dropdown-menu {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.dropdown-item {
    font-size: 1rem;
    color: #333;
    transition: background-color 0.2s ease;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

.dropdown-item.text-danger {
    color: #e53935;
}

.dropdown-item.text-danger:hover {
    background-color: #ffebee;
}