<div class="container mt-4">
  <div class="row">
    <div class="col-md-4" *ngFor="let sensor of sensors">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h3 class="card-title">{{ sensor.name }}</h3>
        </div>
        <div class="card-body">
  
          <ngx-charts-linear-gauge
            [view]="[containerWidth, containerHeight]"
            [scheme]="'cool'"
            [value]="sensor.value || 0"

            [previousValue]="previousValue"
            (select)="onSelect($event)"
            [units]="units"
          >
          </ngx-charts-linear-gauge>
        </div>
        <div class="text-center mt-4">
          <button class="btn btn-primary" (click)="navigateToReport(sensor.id)">Ver Reporte</button>
        </div>
      </div>
    </div>
  </div>
  
</div>
