<section class="eventos">
    <div class="titulo">
        <h1>Roomio</h1>
        <div class="line"></div>
    </div>
    <div class="row">
        <div class="col">
            <img src="elementos/casa.png" alt="...">
        </div>
        <div class="col">
            <h4>Tecnología al servicio del bienestar.</h4>
            <p>En Roomio, creemos que la tecnología debe hacer la vida más fácil y segura. Nos especializamos en desarrollar soluciones de habitaciones inteligentes diseñadas para brindar seguridad, monitoreo en tiempo real y comodidad a adultos mayores y personas con necesidades especiales.</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h4>Confiabilidad y disponibilidad 24/7</h4>
            <p>En Roomio, entendemos la importancia de un servicio ininterrumpido cuando se trata de la seguridad y bienestar de tus seres queridos. Por eso, contamos con servidores 100% disponibles y una infraestructura optimizada para garantizar que siempre tengas acceso a la información en tiempo real, sin interrupciones.</p>
        </div>
        <div class="col">
            <img src="elementos/servidoreseguros.png" alt="...">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <img src="elementos/plataforma.png" alt="...">
        </div>
        <div class="col">
            <h4>Tecnología fácil de usar para todos.</h4>
            <p>En Roomio, creemos que la innovación debe ser accesible para todos. Por eso, hemos diseñado una plataforma intuitiva y fácil de usar, tanto en nuestra aplicación móvil como en la página web.</p>
        </div>
    </div>

</section>
