/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';
.toast-success {
    background-color: #17f807 !important;
  }
  
  .toast-error {
    background-color: #f70303 !important;
  }

   html, body {
   height: 100%;
    margin: 0;
   padding: 0;
  }

  .fondo {
    display: flex;
    justify-content: center;
    background: linear-gradient(to top, #5C6BC0 20%, #FFFF 100%);
    height: 100%;
  }
  